<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="blogs content">
                <h2>404 -- OPPS....</h2>
                <p>This Page Couldn't be found</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>